html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 27rem;
  background-color: rgb(65, 65, 65);
}

.platform-section {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  border-bottom: 0.125rem solid rgb(0, 0, 0);
}

.platform-section > div:not(:last-child) {
  border-right: 0.125rem solid rgb(0, 0, 0);
}

.twitch-button,
.youtube-button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.twitch-button:hover,
.youtube-button:hover {
  color: rgb(199, 199, 199);
}

.twitch-button {
  background-color: #9146ff;
}

.twitch-button:hover {
  background-color: #5b3ba1;
}

.youtube-button {
  background-color: #b2071d;
}

.youtube-button:hover {
  background-color: #750514;
}

.content {
  display: flex;
  min-height: 4rem;
  max-height: 30rem;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: auto;
}

.login-button {
  margin: auto;
  border-radius: 0.5rem;
  border: 0.25rem solid black;
  width: 6rem;
  height: 2rem;
  background-color: rgb(150, 150, 150);
}

.login-button:hover {
  background-color: rgb(87, 87, 87);
}

.stream-container {
  width: 100%;
  height: 6rem;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border-bottom: 0.0675rem solid rgb(54, 54, 54);
  display: flex;
  align-items: center;
}

.stream-container:hover {
  background-color: rgb(49, 49, 49);
}

.stream-thumbnail {
  width: 10rem;
  padding: 0.5rem;
}

.stream-details {
  height: 6rem;
  width: calc(100% - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stream-title {
  width: 100%;
  font-size: 10pt;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
}

.stream-channel-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10pt;
  color: white;
}

.stream-game-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 8pt;
  color: white;
}

.stream-stats {
  font-size: 8pt;
  color: white;
}
